
.vscode/
data/
.DS_Store
__pycache__
runs/
logs/TODO.list
logs/comparation/xyz-random-2048/*
logs/train_log.csv
logs/fps-log.csv
logs/trainingset.txt
metric/pointnet2/build
metric/pointnet2/dist
docker/mirror-ubuntu2004.txt
docker/pu-net/tensorflow
docker/pu-net/bashrc
# evaluation/
preprocessing/EAR/cgal
preprocessing/EAR/CGAL-5.2.1
experiments/evaluate_pflow_backup.py
scripts/

evaluation/evaluation
evaluation/evaluation_code/build/**
evaluation/result/**

**/*.cu.o
**/*_so.so

